body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

#resultados {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#resultados h2 {
    margin-bottom: 20px;
}

#resultados p {
    font-size: 1.2em;
    margin: 10px 0;
}